@model UserInfo
@{
ViewBag.Title="Toplantı Formu";
}
<h1 class="h4 text-center ">Toplantı Katılım Formu</h1>
<form method="post" action="/Meeting/Apply" novalidate>
    <div class="asp-validation-summary"></div>
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ad Soyad</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Telefon</label>
        <input asp-for="Phone" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">E Posta</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="WillAttend" class="form-label">Katılım Durumu</label>
        <select asp-for="WillAttend" class="form-select">
            <option value="">Seçiniz</option>
            <option value="true"> Evet , geleceğim ... *****101010*****</option>
            <option value="false"> Hayır , gelmeyeceğim ... *****101010*****</option>


        </select>
    </div>
    <div class="mb-3">

    </div>
    <button class="btn btn-primary" type="submit">Kaydet</button>
</form>